
*{
    padding: 0;
    margin: 0;    
    border: 0;
}


*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    overflow: hidden;
}

.container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}

:focus,:active{outline:none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}


input::-ms-clear{display: none;}
button{cursor: pointer;} 
button::-moz-focus-inner{padding: 0;border: 0;} 
a,a:visited{text-decoration: none;} 
a:hover{text-decoration: none;} 
ul li{list-style: none;} 
img{vertical-align: top;}

h2{
    font-size: 30px;
    color: rebeccapurple;
    margin: 20px 0px;
}
.procent__text{
    border-bottom: 2px solid red;
    margin-left: 15px;
}
.procent__txt{
    padding-bottom: 10px;
    font-size: 20px;
    color: red;
}
.procent__btn{
    padding: 10px;
    margin-left: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: .5s all ease;
}
.procent__btn:hover{
        transform: scale(-1,-1);
}
.date{
    color: royalblue;
    font-size: 30px;
}